@media (min-width: 500px) {
    .container{
        max-width: 500px;
    }

    .navpills{
        max-width: 350px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Bungee|Bungee+Hairline');

body{
  /*background-color: #E3D5C7;*/
  background-color: #FFF8E7;
    font-family: 'Bungee Hairline', cursive;
}

.pull-right{
  color: white;
  margin: 10px;
}

/*Container*/
div.app{
  background-color: #FFD5C7;
}

/*NavBar*/

p.logo{
  font-family: 'Bungee Hairline', cursive;
  font-size: 28px;
}

a{
  background-color:
}

.navbar{
  margin-top: 10px;
  background-color: #FFA98A;
  font-family: Lato;
}

.nav_contain{
  background-color: #FFA98A;
}

.navbar-header{
  background-color: #FFFFFF;
}

.nav-pills .active a,
.nav-pills .active a:hover{
  background-color: #BA656D;
}

li .active a,
li .active a:hover{

ul.nav-pills{

  color: white;
  background-color: #BA656D;
}

li.active{
  font-family: 'Bungee Hairline', cursive;
}

li.unactive{
  font-family: 'Bungee Hairline', cursive;
  color: white;
}

a.myMu{
  font-family: 'Bungee Hairline', cursive;
  background-color: #F3AD9A;
}

a.myMu{
  font-size: 14px;
  color: white;
}

a.interpret{
  font-family: 'Bungee Hairline', cursive;
  font-size: 14px;
  border: 1px #B2C7D3 solid;
  color: white;
}

a.interpret:hover{
  color: black;
}

a.whyMu{
  font-family: 'Bungee Hairline', cursive;
  font-size: 14px;
  border: 1px #B2C7D3 solid;
  color: white;
}

a.whyMu:hover{
  color: black;
}

/*DreamForm*/
.add_dream{
  background-color: #FFD5C7;
  padding: 15px;
  margin: auto;
  margin-top: 25px;
  align-self: center;
  justify-content: center;
}

button.add_btn:hover{
  background-color: #CC747A;
  border-color: #FF9E91;
  color: white;

input.add_input{
  margin: 5px;
  font-family: 'Bungee Hairline', cursive;
  font-size: 14px;
  border-width: 1px;
  border-color: #DFC2C2;
}

text{
  text-align: right;
  align-items: right;
  align-self: right;
  justify-content: right;
  font-family: 'Bungee Hairline', cursive;
  color: white;
  font-size: 14px;
}

button.btn{
  background-color: #BA656D;
  border-color: #C17C97;
  border-width: 1px;
  margin: 5px;
  font-family: 'Bungee Hairline', cursive;
}

/*DreamFeed*/

.dream_feed{
  background-color: #FFD5C7;
  padding: 15px;
  margin: auto;
  align-self: center;
  justify-content: center;
}

/*Dream*/
.dream{
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  border-color: #DFC2C2;
}

p.dream_content{
  font-size: 21px;
  font-family: 'Bungee Hairline', cursive;
  color: #152033;
  padding: 5px;
  margin: 5px;
  color: black;
}

/*Footer*/

div.foot_contain{
  background-color: #FFA98A;
}

a.footer-brand{
  align-content: right;
  justify-content: right;
  font-family: 'Bungee Hairline', cursive;
  font-size: 14px;
  color: white;
}
