@media (min-width: 500px) {
    .container{
        max-width: 500px;
    }

    .navpills{
        max-width: 350px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Bungee|Bungee+Hairline|Bungee+Outline|Bungee+Inline|Bungee+Shade');

body{
  /*background-color: #E3D5C7;*/
  background-color: #FFF8E7;
    font-family: 'Bungee', cursive;
}

.pull-right{
  color: white;
  margin: 10px;
}

h4{
  color: #2D7BB2;
}

/*Container*/
div.app{
  background-color: #FFD5C7;
}

/*NavBar*/

p.logo{
  font-family: 'Bungee', cursive;
  font-size: 28px;
}

a{
  background-color:
}

.navbar{
  margin-top: 10px;
  background-color: #FFA98A;
}

.nav_contain{
  background-color: #FFA98A;
}

.nav-pills .active a,
.nav-pills .active a:hover{
  background-color: #BA656D;
}

li .active a,
li .active a:hover{
  font-family: 'Bungee', cursive;
}

ul.nav-pills{
  color: white;
  font-family: 'Bungee', cursive;
}

li.active{
  font-family: 'Bungee', cursive;
  margin: 5px 5px 0px 5px;
}

li.unactive{
  font-family: 'Bungee', cursive;
  border-width: 10px;
  border-radius: 5px;
  border-color: green;
  background-color: white;
  color: white;
  margin: 7px 5px 0px 5px;
}

a.myMu{
  font-family: 'Bungee', cursive;
  font-size: 14px;
  background-color: white;
  color: white;
}

a.interpret{
  font-family: 'Bungee', cursive;
  font-size: 14px;
  border: 1px white solid;
  color: white;
}

a.whyMu{
  font-family: 'Bungee', cursive;
  font-size: 14px;
  border: 1px #B2C7D3 solid;
  color: white;
}

/*DreamForm*/
.add_dream{
  background-color: #FFD5C7;
  padding: 15px;
  margin: auto;
  margin-top: 25px;
  align-self: center;
  justify-content: center;
}

button.add_btn:hover{
  background-color: #CC747A;
  border-color: #FF9E91;
  color: white;
}

input.add_input{
  margin: 5px;
  font-family: 'Bungee', cursive;
  font-size: 14px;
  border-width: 1px;
  border-color: #DFC2C2;
}

text{
  text-align: right;
  align-items: right;
  align-self: right;
  justify-content: right;
  font-family: 'Bungee', cursive;
  color: white;
  font-size: 14px;
}

button.btn{
  background-color: #BA656D;
  border-color: #C17C97;
  border-width: 1px;
  margin: 5px;
  font-family: 'Bungee', cursive;
}

/*DreamFeed*/

.dream_feed{
  background-color: #FFD5C7;
  padding: 15px;
  margin: auto;
  align-self: center;
  justify-content: center;
}

a.ilink{
  color: #2D7BB2;
}

/*BlogFeed*/
.benefit{
  margin: 3px;
}

img.jung{
  padding-top: 20px;
}

.benefits{
  padding-top: 20px;
}

.history{
  color: black;
  margin: 3px;
}

img.freud{
  margin-top: 20px;
  margin-left: 15px;
  padding-bottom: 40px;
  padding-left: 10px;
}

ul.history-ul{
  float: right;
  margin-right: 20px;
}

ul.further-reading{
  padding-bottom: 20px;
  padding-right: 20px;
}

.reading{
  margin: 3px;
}

/*Dream*/

text.date{
  font-family: 'Bungee';
  font-size: 14px;
  color: black;
}

text.interpretText{
  font-size: 16px;
  font-family: 'Bungee Inline';
  color: black;
}

.dream{
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  border-color: #DFC2C2;
}

p.dream_content{
  font-size: 16px;
  font-family: 'Bungee', cursive;
  color: #152033;
  padding: 5px;
  margin: 5px;
  color: black;
}

/*Footer*/

div.foot_contain{
  background-color: #FFA98A;
}

a.footer-brand{
  align-content: right;
  justify-content: right;
  font-family: 'Bungee';
  font-size: 14px;
  color: white;
}
